<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="flex-container">
        
        <%- include("./partials/sidebar.ejs") %>

        <div class="content-flex-container">
            <div class="content">
                <div class="content-intro">
                    <h1>Daily Notes</h1>
                </div>
                <div class="daily-notes-flexcontainer">
                    <% blogs.forEach(blog => { %>
                    <div class="daily-notes-entry">
                        <a class="daily-notes-links" href="/daily-notes/<%= blog._id %>">    
                            <h1> <%= blog.title %> </h1>
                            <p> <%= blog.snippet %> </p>
                            <ul class="daily-notes-list">
                                <% blog.body.forEach(item => { %>
                                    <li> <%= item %> </li>
                                <% }) %>
                            </ul>
                        </a>
                    </div>
                    <% }) %>
                </div>
            </div>
            <%- include('./partials/floating-logo.ejs') %>
        </div>
    </div>

</body>

</html>